@import "lib/reset";
@import "lib/variables";
@import "lib/mixins";
@import "components/buttons";
@import "components/forms";

@import "login";
@import "users";

html { overflow-y: scroll; }

body {
  color: $text-color;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  &:hover { text-decoration: underline; }
}

h1 {
  color: $primary;
  font-size: 2em;
  margin-bottom: 20px;
}
















//.container       { outline: 1px solid red; }
//.cta-container   { outline: 1px solid green; }
//.login-container { outline: 1px solid blue; }








.login-page-container {
  @include clearfix;
  margin-left: 100px;
  padding-top: 50px;
  width: 70%;
}

// circles
.circle {
  @include border-radius(100px);
  width: 100px;
  height: 100px;
  border: 2px solid rgba(0, 0, 0, .4);
}
