@import "lib/reset";
@import "lib/variables";
@import "lib/mixins";
@import "components/buttons";
@import "components/forms";

html { overflow-y: scroll; }

body {
  color: $text-color;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  &:hover { text-decoration: underline; }
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
}
















//.container       { outline: 1px solid red; }
//.cta-container   { outline: 1px solid green; }
//.login-container { outline: 1px solid blue; }








.container {
  @include clearfix;
  margin-left: 100px;
  padding-top: 50px;
  width: 70%;
}

.cta-container, .login-container {
  @include border-box;
  float: left;
  width: 50%;
}

.cta-container {
  border-right: 1px solid $border-color;
  padding: 150px 50px 150px 0;
  width: 40%;

  h1 {
    font-size: 3.3em;
  }

  p {
    font-size: 1.2em;
    color: lighten($text-color, 40);
  }
}

.login-container {
  padding: 205px 0 240px 60px;
  width: 60%;

  input {
    float: left;
  }

  input[type="text"] {
    margin-right: 3%;
    width: 80%;
  }

  input[type="submit"] {
    width: 17%;
  }
}
