@import "lib/variables";

.graph-page-container {
  top: 100%;
}

.graph-container {
  margin: 0 auto;
  width: 960px;

  svg {
    height: 600px;
  }
}


.profile-name {
  /* stroke: #fff; */
  /* stroke-width: 1px; */
  /* stroke-location: outside; */
}
.graph-circle {
  fill-opacity: 0;
  stroke-opacity: .2;
  stroke: #000;
}

.loading-dot {
  fill: $primary;
}

.graph-link {
  stroke: #aaa;
}
