.users-container {
  background-color: white;
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
  width: 75%;
  margin: 0 auto;
}

.panel {
  padding: 40px 0 80px;
  //outline: 1px solid green;
  border-bottom: 1px solid darken($border-color, 5);
}

.panel-icon {
  //outline: 1px solid red;
  display: block;
  color: silver; // #c0c0c0
  font-size: 4.9em;
  text-align: center;
  margin-bottom: 50px;
}

.panel-photos {
  $photo-container-width: 700px;
  $user-photo-size: 150px;

  .user-photos-container {
    @include clearfix;
    margin: 0 auto;
    width: $photo-container-width;
  }


  .user, .link { float: left; }

  .user {
    width: $user-photo-size;

    p {
      font-size: 1.4em;
      margin-top: 20px;
      text-align: center;
    }
  }

  .user-photo {
    @include border-box;
    border: 1px solid red; // TODO
    border-radius: 50%;
    width: $user-photo-size;
    height: $user-photo-size;

    &:last-child { float: right; }
  }

  .link {
    border-top: 1px solid $border-color;
    margin-top: $user-photo-size / 2;
    width: $photo-container-width - (2 * $user-photo-size);
  }
}

.panel-langs {

}

.panel-stars {

}

.panel-follow {

}
