.users-page-container {}

.users-container {
  background-color: white;
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
  width: 75%;

  position: absolute;
  top: 0;
  left: 100%;

  z-index: 999;
}

.panel {
  padding: 40px 0 80px;
  border-bottom: 1px solid darken($border-color, 5);
  text-align: center;

  p {
    font-size: 1.3em;
    margin-bottom: 40px;
    text-align: center;
  }

}

.btn-back {
  border-radius: 100%;
  box-shadow: none;
  font-size: 2em;
  padding: 25px 27px;
  position: absolute;
  top: 30px;
  left: -40px;
}

.panel-icon {
  display: block;
  color: silver; // #c0c0c0
  font-size: 4.1em;
  text-align: center;
  margin-bottom: 40px;
}

.panel-photos {
  $photo-container-width: 700px;
  $user-photo-size: 150px;

  .user-photos-container {
    @include clearfix;
    margin: 0 auto;
    width: $photo-container-width;
  }

  .user, .link { float: left; }

  .user {
    width: $user-photo-size;

    p {
      font-family: $textFontFamily;
      font-size: 1.4em;
      margin-top: 20px;
    }
  }

  .user-photo {
    @include border-box;
    border: 1px solid red; // TODO
    border-radius: 50%;
    width: $user-photo-size;
    height: $user-photo-size;

    &:last-child { float: right; }
  }

  .link {
    border-top: 1px solid $border-color;
    margin-top: $user-photo-size / 2;
    width: $photo-container-width - (2 * $user-photo-size);
  }
}

.panel-langs {

  .charts-container {
    @include clearfix;
    margin: 50px auto 80px;
    width: 650px;
  }

  .chart {
    @include clearfix;
    @include dimensions(175px);
  }

  .legend {
    margin-top: 20px;

    li {
      font-size: 1.1em;
      margin-bottom: 15px;
      text-align: left;
    }

    .swatch {
      @include dimensions(20px);
      display: inline-block;
      float: left;
      margin-top: 2px;
      margin-right: 10px;
    }
  }

  .chart-you  { float: left; }
  .chart-them { float: right; }

}

.panel-stars {
  //.starred-repos {

  //}

  .starred-repos {
    background-color: white;
    border-collapse: separate;
    text-align: left;
    margin: 0 auto;
    width: 600px;

    td {
      @include border-box;
      font-family: $textFontFamily;
      font-weight: bold;
      border: 1px solid $border-color;
      border-top: none;
      padding: 8px;
    }

    tr:first-child td { border-top: 1px solid $border-color; }

    tr:nth-of-type(even) td {
      background-color: lighten(#cceeff, 6);
    }

    .icon {
      color: lighten($text-color, 10);
      display: inline-block;
      margin-right: 5px;
    }

    a { color: $aqua; }

    $radius: 2px;
    tr:first-child td:first-child { border-top-left-radius: $radius; }
    tr:first-child td:last-child  { border-top-right-radius: $radius; }
    tr:last-child  td:first-child { border-bottom-left-radius: $radius; }
    tr:last-child  td:last-child  { border-bottom-right-radius: $radius; }

  }
}

.panel-follow {
  padding: 100px 0;

  .btn-follow-cta {
    margin-top: 30px;
  }
}
