<a class="btn btn-green back-to-login" href="#">&laquo Try a different name</a>

<div class="graph-container">
  <h1></h1>

  <svg>
    <defs>
      <clipPath id="clip" clipPathUnits="objectBoundingBox">
        <circle r=".5" cx=".5" cy=".5"/>
      </clipPath>
      <mask id="Mask">
        <circle cx="100" cy="100" r="50" />
      </mask>
    </defs>
  </svg>
</div>
