<!--You and Tom enjoy coding in <one> and <two> in <loc>-->




  <div class="users-container">

  <a class="btn btn-blue btn-back" href="#">
    <i class="icon icon-arrow-left"></i>
  </a>

    <section class="panel panel-photos">
      <i class="icon panel-icon icon-group"></i>


      <div class="user-photos-container">
        <div class="user">
          <div class="user-photo you"></div>
          <p>You</p>
        </div>

        <div class="link"></div>

        <div class="user">
          <div class="user-photo them"></div>
          <p>{{username}}</p>
        </div>
      </div>

    </section>



    <section class="panel panel-langs">
      <i class="icon panel-icon icon-code"></i>

      <p class="lang-summary"></p>

      <div class="charts-container">
        <div class="chart chart-you">
          <svg></svg>

          <ul class="legend">
            <!--<li><span class="swatch" style="background-color: red;"></span> Ruby</li>-->
          </ul>
        </div>

        <div class="chart chart-them">
          <svg></svg>

          <ul class="legend">
            <!--<li><span class="swatch" style="background-color: purple;"></span> PHP</li>-->
          </ul>
        </div>
      </div>

    </section>



    <section class="panel panel-stars">
      <i class="icon panel-icon icon-star-empty"></i>

      <p class='common-repo-count'></p>

      <table class="starred-repos">
        <tbody>
          <!--
          <tr><td>
            <i class="icon icon-star"></i>
            andrewberls / <a href="#">regularity</a>
          </td></tr>
          -->
        </tbody>
      </table>

    </section>



    <section class="panel panel-follow">
      <h2>Get connected with {{username}}.</h2>

      <a class="btn btn-large btn-blue btn-follow-cta" href="http://www.github.com/{{username}}" target="_blank">Follow {{username}} on GitHub</a>
    </section>

  </div><!-- .users-container -->
