<!--You and Tom enjoy coding in <one> and <two> in <loc>-->




  <div class="users-container">

    <section class="panel panel-photos">
      <i class="icon panel-icon icon-group"></i>


      <div class="user-photos-container">
        <div class="user">
          <img class="user-photo" src="" alt="" />
          <p>You</p>
        </div>

        <div class="link"></div>


        <div class="user">
          <img class="user-photo" src="" alt="" />
          <p>{{username}}</p>
        </div>
      </div>

    </section>



    <section class="panel panel-langs">
      <i class="icon panel-icon icon-code"></i>

      <p>You and Tom both write Ruby.</p>

      <div class="charts-container">
        <div class="chart chart-you">
          <svg></svg>

          <ul class="legend">
            <!--<li><span class="swatch" style="background-color: red;"></span> Ruby</li>-->
          </ul>
        </div>

        <div class="chart chart-them">
          <svg></svg>

          <ul class="legend">
            <!--<li><span class="swatch" style="background-color: purple;"></span> PHP</li>-->
          </ul>
        </div>
      </div>

    </section>



    <section class="panel panel-stars">
      <i class="icon panel-icon icon-star-empty"></i>

      <p>You and Tom have 13 starred repositories in common.</p>

      <table class="starred-repos">
        <tbody>
          <tr><td>
              <i class="icon icon-star"></i>
              andrewberls / <a href="#">regularity</a>
          </td></tr>
          <tr><td>
              <i class="icon icon-star"></i>
              roeschinc / <a href="#">tweak</a>
          </td></tr>
          <tr><td>
              <i class="icon icon-star"></i>
              rails / <a href="#">rails</a>
          </td></tr>

        </tbody>
      </table>

    </section>



    <section class="panel panel-follow">
      <h2>Get connected with Tom.</h2>

      <a class="btn btn-large btn-blue btn-follow-cta" href="#">Follow Tom on GitHub</a>
    </section>

  </div><!-- .users-container -->
