.btn {
  @include border-radius(3px);
  box-shadow: 0 -3px 0 rgba(0, 0, 0, 0.15) inset;
  border: none;
  color: white;
  display: inline-block;
  padding: 10px 12px;

  &:hover { text-decoration: none; }
}

.btn-large {
  font-size: 1.2em;
  padding: 13px 0;
}

.btn-blue {
  background-color: $primary-alt;
  &:hover { background-color: darken($primary-alt, 5%); }
}
